@model UserLoginVm
<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row">
			<!-- Login Form s-->
			<form action="Login" method="post">
				<div class="text-danger" asp-validation-summary="ModelOnly"></div>

				<div class="login-form">
					<h4 class="login-title">Returning Customer</h4>
					<p><span class="font-weight-bold">I am a Returning customer</span></p>
					<div class="row">
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="UserNameOrEmail">Full Name</label>
							<input asp-for="UserNameOrEmail" class="mb-0 form-control" type="text" id="name"
								   placeholder="Enter your full name">
							<span asp-validation-for="UserNameOrEmail" class="text-danger" ></span>
						</div>
						
						<div class="col-lg-6 mb--20">
							<label asp-for="Password">Password</label>
							<input asp-for="Password" class="mb-0 form-control" type="password" id="password" placeholder="Enter your password">
							<span asp-validation-for="Password" class="text-danger"></span>

						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="RebemberMe">RebemberMe</label>
							<input asp-for="RebemberMe"   
								   >
						</div>


						<div class="col-md-12">

							<button type="submit" class="btn btn-outlined">Login</button>
							<a asp-action="Register" class="btn btn-outlined">Register</a>
							<a asp-action="ForgotPassword" class="btn btn-outlined">ForgetPassword</a>

						</div>
					</div>
				</div>
			</form>
			<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		</div>

	</div>
</main>
@section scripts {
	@Html.Partial("_ValidationScriptsPartial")
}