@model ResertPasswordVm

<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row">
			<!-- Login Form s-->
			<form action="ResertPassword" method="post">
				<div class="text-danger" asp-validation-summary="ModelOnly"></div>

				<div class="login-form">
					<h4 class="login-title">Returning Customer</h4>
					<p><span class="font-weight-bold">I am a Returning customer</span></p>
					<div class="row">
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="NewPassword">NewPassword</label>
							<input asp-for="NewPassword" class="mb-0 form-control" type="text" id="name"
								   placeholder="NewPassword">
							<span asp-validation-for="NewPassword" class="text-danger"></span>
						</div>

						<div class="col-md-12 col-12 mb--15">
							<label asp-for="ConfirmPassword">ConfirmPassword</label>
							<input asp-for="ConfirmPassword" class="mb-0 form-control" type="text" id="name"
								   placeholder="ConfirmPassword">
							<span asp-validation-for="NewPassword" class="text-danger"></span>
						</div>

						<div class="col-md-12">

							<button type="submit" class="btn btn-outlined">Confirm</button>
							<a asp-action="Register" class="btn btn-outlined">Register</a>


						</div>
					</div>
				</div>
			</form>
			<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		</div>

	</div>
</main>
@section scripts {
	@Html.Partial("_ValidationScriptsPartial")
}